# Node modules
node_modules/

# Build output
.next/
out/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables
.env*
!.env.example

# OS / Editor files
.DS_Store
*.swp
*.swo
*.sublime-workspace
.idea/
.vscode/

# Dependency lock files (optional, if you're using a specific one)
# Uncomment only one of these if you're not committing lock files
# package-lock.json
# yarn.lock
# pnpm-lock.yaml
.vercel
